.bg-biru {
    background-color: #083AA9;
}

.btn-biru{
    --bs-btn-color:#fff;
    --bs-btn-bg:#083AA9;
    --bs-btn-border-color:#083AA9;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#0d6efd;
    --bs-btn-hover-border-color:#0a58ca;
    --bs-btn-focus-shadow-rgb:49,132,253;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#0a58ca;
    --bs-btn-active-border-color:#0a53be;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;
    --bs-btn-disabled-bg:#083AA9;
    --bs-btn-disabled-border-color:#083AA9
}

.bg-biru{
    background-color: #083AA9;
}

.bg-image {
    width: 100%;
}

.bg-dufan {
    background-image: url('/assets/img/dufan-panjang.jpg');
}

.comic {
    font-family: 'comic sans ms';
}